@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
/* Eric mayer reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


	/* My Reset */
	

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border;
}

 /* Custom style */

body {
	width:100%;
	background:rgb(214, 120, 26) url(../image/bg-intro-desktop.png);
	background-size:cover;
}

.sec1 .sec2 {
	padding: 50px;
}

.sec1{
	float: left;
	margin: 12rem 0 0 8rem;
	width: 30rem;
    color: white;
	text-align: center;
}

.sec2{
	float: right;
    margin:3rem 8rem 5rem 0;
	width:32rem;
}

.sec1 h1{
	font-size:3rem;
	font-family: 'Anton', sans-serif;
	line-height: 50px;
}

.sec1 p {
	font-size:2rem;
	margin-top: 40px;
	font-size: x-large;
}

.add {
	font-size:21px;
	font-weight: 700;
	background-color: rgb(108, 78, 216);
	padding:1rem;
    border-radius: 6px;
	text-align:center;
	color: white;
	box-shadow: 3px 7px 0 0 rgba(12, 3, 3, 0.2);
}
.hero {
	background-color:white;
	margin-top:20px;
	border-radius: 9px;
}
form {
	padding:50px;
}
input {
	font-size:small;
	padding: 12px;
	width:24rem;
	margin-bottom: 25px;
	border-radius:6px;
}
.btn {
	width: 410px;
	background-color:darkcyan;
	box-shadow:3px 3px 3px 3px rgb(60, 76, 100);;
	color: white;
}
label {
	font-size:15px;
}
label a {
	color: red;
	font-weight:700;
}
input::placeholder {
	color: rgb(115, 133, 121);
}